{% extends 'main/layout.html' %}
{% load static %}


{% block sidebar %}
<!-- sidebar -->

<div class="sidebar">
    <ul>
            {{ child.name }}
        {% if cat_selected == 0 %}
            <li class="choose">Все категории</li>

        {% else %}
            <li><a href="{% url 'main' %}">Все категории</a></li>
        {% endif %}

            {% if cat in cats %}
            {% for c in cats %}
                {% if cat_selected == c.pk %}
                    <li class="choose">{{ c.name }}</li>
                    {% for ch in children %}
                                       <li class="children"><a href="{{ ch.get_absolute_url }}">{{ ch.name }}</a></li>

                    {% endfor %}
        {% else %}

        <li><a href="{{c.get_absolute_url}}">{{ c.name }}</a></li>


        {% endif %}
        {% endfor %}

        {% else %}
            {% for c in cats %}

                {% if c.pk == cat.parent.pk %}
        <li class="choose">{{ cat.parent.name }}</li>

                   {% for ch in  cat.parent.return_children %}

                    {% if ch.pk == cat.pk %}
        <li class="choose-children">{{ch.name}}</li>
                    {% else %}
                            <li class="children"><a href="{{ch.get_absolute_url}}">{{ ch.name }}</a></li>
                    {% endif %}
                    {% endfor %}
                {% else %}
                <li><a href="{{c.get_absolute_url}}">{{ c.name }}</a></li>

                {% endif %}
            {% endfor %}
        {% endif %}

</div>

<!-- sidebar -->

{% endblock %}

{% block content %}

<!-- carousel -->
<div class="container-fluid my-carousel">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'main/img/1.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'main/img/2.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'main/img/3.jpg' %}" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- carousel -->
<!-- product cart -->
<section class="main-container">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col sidebar">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4   col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="#"><img src="{% static 'main/img/f1.jpg' %}"></a>
                    </div>
                    <div class="product-details">
                        <h4><a href="#">Iphon</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad, adipisci architecto
                            dignissimos ex, facere impedit mollitia odio perspiciatis porro, quidem quod
                            reprehenderit
                            similique veniam vitae. Laudantium quia ratione voluptatem.</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                <small>239$</small>90$
                            </div>
                            <div class="product-links">
                                <a href="#"><i class="fa-solid fa-cart-shopping" style="color:#f55442"></i></a>
                                <a href="#"><i class="fa-regular fa-heart" style="color:#f55442"></i></i></a>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="#"><img src="{% static 'main/img/f1.jpg' %}"></a>
                    </div>
                    <div class="product-details">
                        <h4><a href="#">Iphon</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad, adipisci architecto
                            dignissimos ex, facere impedit mollitia odio perspiciatis porro, quidem quod
                            reprehenderit
                            similique veniam vitae. Laudantium quia ratione voluptatem.</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                <small>239$</small>90$
                            </div>
                            <div class="product-links">
                                <a href="#"><i class="fa-solid fa-cart-shopping" style="color:#f55442"></i></a>
                                <a href="#"><i class="fa-regular fa-heart" style="color:#f55442"></i></i></a>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="#"><img src="{% static 'main/img/f1.jpg' %}"></a>
                    </div>
                    <div class="product-details">
                        <h4><a href="#">Iphon</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad, adipisci architecto
                            dignissimos ex, facere impedit mollitia odio perspiciatis porro, quidem quod
                            reprehenderit
                            similique veniam vitae. Laudantium quia ratione voluptatem.</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                <small>239$</small>90$
                            </div>
                            <div class="product-links">
                                <a href="#"><i class="fa-solid fa-cart-shopping" style="color:#f55442"></i></a>
                                <a href="#"><i class="fa-regular fa-heart" style="color:#f55442"></i></i></a>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
<!-- end product cart -->


{% endblock %}