{% extends 'main/layout.html' %}
{% load i18n static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}


{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset confirmation' %}
</div>
{% endblock %}

{% block content %}

{% if validlink %}


<div class="container w-25 position-absolute top-50 start-50 translate-middle">
    <p>{{ form.user.get_username }} {% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

        <form method="post" class="mt-2">{% csrf_token %}



            <div class="form-row field-password1" >
                {{ form.new_password1.errors }}
                <label for="id_new_password1">{% translate 'New password:' %}</label>
                {{ form.new_password1 }}
            </div>
            <div class="form-row field-password2">
                {{ form.new_password2.errors }}
                <label for="id_new_password2">{% translate 'Confirm password:' %}</label>
                {{ form.new_password2 }}
            </div>
            <div class="container mt-4"></div>
            <button type="submit" class="btn btn-success margin-top ">{% translate 'Change my password' %}</button>
            </div>

        </form>
</div>
{% else %}

<p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
